* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif; /* Añadido 'sans-serif' como respaldo */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.container {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex; /* Cambiado a flex para una mejor alineación */
    padding: 0; /* Eliminar padding por defecto */
}

nav ul li {
    list-style: none;
    padding: 15px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.4s;
}

nav ul li::after {
    content: '';
    background: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
}

nav ul li:hover {
    color: #069be0;
}

nav ul li:hover::after {
    top: 50%;
    opacity: 1;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}

.showcase.active {
    right: 300px;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7; /* Cambiar la opacidad del video a 0.7 para mayor opacidad */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(21, 99, 117, 0.7); /* Color con opacidad del 70% */
    z-index: 1; /* Asegúrate de que el overlay esté por encima del video */
}

.text {
    position: relative;
    z-index: 10;
}

.text h1 {
    font-size: 3em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    text-align: justify; /* Justificar el texto */
}

.links {
    text-align: right; /* Alinea el contenido a la derecha */
    margin-top: 20px; /* Espacio superior para separar del texto */
}

.links .button {
    display: inline-block; /* Cada botón en línea */
    font-size: 1em;
    background: #007BFF; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-transform: uppercase; /* Texto en mayúsculas */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    margin-left: 10px; /* Espacio entre botones */
    transition: background 0.3s; /* Transición suave para el fondo */
}

.links .button:hover {
    background: #0056b3; /* Color de fondo al pasar el mouse */
}

.social {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    gap: 15px; /* Espacio entre iconos